<form [formGroup]="newPokemonForm">
  id: <input type="number" formControlName="id" /> <br />
  name: <input formControlName="name" />
  <br />
  type:
  <select formControlName="type">
    <option *ngFor="let pokeType of pokemonTypes" [value]="pokeType">
      {{ pokeType }}
    </option>
  </select>
  <br />
  icon:
  <input formControlName="icon" />
  <br />
  <input
    type="button"
    value="Add Pokemon"
    [disabled]="!newPokemonForm.valid"
    (click)="onSubmit()"
  />
</form>

<div *ngIf="newPokemonForm.get('id').errors" class="error">
  <div *ngIf="newPokemonForm.get('id').errors.required">
    Id is required
  </div>
  <div
    *ngIf="
      !newPokemonForm.get('id').errors.required &&
      newPokemonForm.get('id').errors.validateUniqueId
    "
  >
    Id is already taken
  </div>
</div>
<div *ngIf="newPokemonForm.get('name').errors" class="error">
  <div *ngIf="newPokemonForm.get('name').errors.required">
    Name is required
  </div>
</div>
<div *ngIf="newPokemonForm.get('icon').errors" class="error">
  <div *ngIf="newPokemonForm.get('icon').errors.required">
    Icon is required
  </div>
  <div *ngIf="newPokemonForm.get('icon').errors.pattern">
    Invalid icon path
  </div>
</div>

<!-- uncomment this for debugging -->
<!-- {{ newPokemonForm.get("icon").errors | json }} -->
