<h2>
  <span *ngIf="contact.isFavorite" class="favorite">&#9733;</span>
  {{ contact.name }}
</h2>

<ul>
  <li>Email: {{ contact.email }}</li>
  <li>Phone: {{ contact.phone }}</li>
</ul>

<input
  type="checkbox"
  name="isFavorite"
  id="isFavorite"
  [(ngModel)]="contact.isFavorite"
  (click)="toggleFavorite($event, contact.id, contact.isFavorite)"
/>
