<form #meetingForm="ngForm" (ngSubmit)="onSubmit(meetingForm)">
  <table>
    <tr>
      <td>Omschrijving:</td>
      <td>
        <input
          type="text"
          multiple
          minlength="3"
          maxlength="25"
          required
          [(ngModel)]="meeting.beschrijving"
          name="description"
          #descriptionField="ngModel"
        />
      </td>
    </tr>
    <tr>
      <td>Datum:</td>
      <td>
        <input
          type="date"
          name="date"
          [(ngModel)]="meeting.date"
          required
          #dateField="ngModel"
        />
      </td>
    </tr>
    <tr>
      <td rowspan="2">dagdeel:</td>
      <td>
        <input
          type="checkbox"
          name="beforeNoon"
          [(ngModel)]="meeting.beforeNoon"
        />
        voormiddag
      </td>
    </tr>
    <tr>
      <td>
        <input
          type="checkbox"
          name="afterNoon"
          [(ngModel)]="meeting.afterNoon"
        />
        namiddag
      </td>
    </tr>
    <tr>
      <td>Type meeting:</td>
      <td>
        <select [(ngModel)]="meeting.meetingType" name="meetingType">
          <option *ngFor="let meetingType of meetingTypes" [value]="meetingType">
            {{meetingType}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Herinnering:</td>
      <td>
        <input
          type="radio"
          name="reminder"
          [(ngModel)]="meeting.reminder"
          [value]="true"
        />
        ja
        <input
          type="radio"
          name="reminder"
          [(ngModel)]="meeting.reminder"
          [value]="false"
        />
        nee
      </td>
    </tr>
    <tr>
      <td>
        <button
          type="submit"
          name="submit"
          [disabled]="!meetingForm.form.valid"
        >
          Aanmaken
        </button>
      </td>
    </tr>
  </table>

  <div *ngIf="descriptionField.errors" class="error">
    <!-- uncomment this for debugging -->
    <!-- {{ descriptionField.errors | json }} -->
    <div *ngIf="descriptionField.errors.required">
      Description is required
    </div>
    <div *ngIf="descriptionField.errors.minlength">
      Description is too short
    </div>
  </div>
  <div *ngIf="dateField.errors" class="error">
    <!-- uncomment this for debugging -->
    <!-- {{ dateField.errors | json }} -->
    <div *ngIf="dateField.errors.required">
      Date is required
    </div>
  </div>
  <!-- uncomment this for debugging -->
  <!-- {{ meeting | json }} -->
</form>
