<form [formGroup]="newCustomerForm">
  Voornaam: <input formControlName="name" />
  <br />
  Achternaam: <input formControlName="lastname" />
  <br />
  E-mail: <input formControlName="email" value="@email.com"/>
  <br />
  Straatnaam: <input formControlName="street" /> Huisnummer:
  <input type="number" formControlName="streetnumber" />
  <br />
  Postcode: <input type="number" formControlName="countrycode" /> Gemeente:
  <input formControlName="country" />
  <br />
  <input
    type="button"
    value="Voeg toe"
    [disabled]="!newCustomerForm.valid"
    (click)="onSubmit()"
  />
</form>
