<app-contact *ngIf="contact" [contact]="contact"></app-contact>
<app-contact-form></app-contact-form>
<button type="button" (click)="deleteContact(id)" [hidden]="deleted">Delete contact</button>
<p [hidden]="!deleted">Contact deleted.</p>