<h1>{{customer.voornaam}} {{customer.achternaam}}</h1>
<button (click)="remove()">verwijder</button>
<br>
<strong>{{customer.email}}</strong>
<p>{{customer.straatnaam}} {{customer.huisnummer}}</p>
<p>{{customer.postcode}} {{customer.gemeente}}</p>
<hr>