<div>
    <h2>{{ contact.name }}</h2>
    <ul>
        <li>Email: {{ contact.email }}</li>
        <li>Phone: {{ contact.phone }}</li>
    </ul>
</div>

<input type="checkbox" name="isFavorite" id="isFavorite" [(ngModel)]="contact.isFavorite" (click)="toggleFavorite(index)">
<label for="isFavorite" [class.favorite]="contact.isFavorite">Favorite</label>