<header>
    <h1>Contacts</h1>
</header>
<main>
    <app-contact [contact]="myContact" (onSubmit)="handleData($event)"></app-contact>
    <app-contact [contact]="myContact" (onSubmit)="handleData($event)"></app-contact>
    <app-contact [contact]="myContact" (onSubmit)="handleData($event)"></app-contact>
</main>