<h1>Pokedex</h1>
<p *ngIf="selectedPokemonId">
Geselecteerde pokemon: {{ pokemonService.getPokemonNameById(selectedPokemonId) }}
</p>
<div class="grid-container">
  <ng-container *ngFor="let pokemon of pokemonService.getPokemons()">
    <app-pokemon
      [pokemon]="pokemon"
      [style.backgroundColor]="pokemonService.getBackgroundColor(pokemon.type)"
      [style.border]="getPokemonBorderStyle(pokemon.id)"
      (pokemonClickedEmitter)="handlePokemonOnClick($event)"
    >
    </app-pokemon>
  </ng-container>
</div>

<app-new-pokemon-form></app-new-pokemon-form>
