<h1>Huisdieren</h1>
<table>
    <tr *ngFor="let huisdier of huisdieren; let i = index">
        <td>
            <button (click)="removeHuisdierByIndex(i)">del</button>
        </td>
        <td>{{huisdier}}</td>
    </tr>
</table>

<input type="text" [(ngModel)]="ingegevenHuisdier">
<button (click)="addHuisdier(ingegevenHuisdier)">Add</button>