button {
    padding: 0.5rem;
    border-radius: 2px;
    display: block;
    margin-top: 0.3rem;
    width: 10rem;
    font: 200 0.8rem 'Helvetica';
    background: #3498db;
    color: #fff;
    border: 1px solid #2980b9;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #2980b9;
}

button:focus {
    outline: 0;
}

.onlyFavorites {
    border-color: #c0392b;
    background: #e74c3c;
}

.onlyFavorites:hover {
    color: #c0392b;
}