<table>
    <thead>
        <tr>
            <td>Artikelnummer</td>
            <td>Artikelnaam</td>
            <td>Aankoopprijs</td>
            <td>Verkoopprijs</td>
            <td>Foto</td>
            <td>Info</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let artikel of artikelen; let i = index">
            <td>{{artikel.nummer}}</td>
            <td (click)="showArticleDetails(i)" class="clickable">{{artikel.naam}}</td>
            <td>{{artikel.aankoopprijs}}</td>
            <td>{{artikel.verkoopprijs}}</td>
            <td>
                <img width="75px" src="{{artikel.afbeeldingURL}}" alt="{{artikel.naam}}" />
            </td>
            <td>
                <a href="https://www.google.be/search?q={{artikel.naam}}" rel="external nofollow">
                    Info
                </a>
            </td>
        </tr>
    </tbody>
</table>