tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

thead,
td:first-child {
    font-weight: bold;
}

.clickable:hover {
    cursor: pointer;
    background-color: lightskyblue;
}