<div class="box">

<!-- {{hero | json}} <br> -->
<img src="{{hero.avatarImageURL}}" alt=""> <br>
Name: {{hero.name}} <br>
Abilties: <span *ngFor="let ability of hero.abilities" class="ability"> {{ability}} </span> <br>
Class: {{hero.heroClass}} <br>
Rating: {{ "&#9733;".repeat(hero.rating)}}

</div>
