<app-contact *ngFor="let contact of contactList; let i = index" [contact]="contact" (onUpdate)="handleUpdate($event)">
</app-contact>
<button type="button" [class.onlyFavorites]="onlyFavorites" (click)="toggleView(onlyFavorites)">Show
    {{ onlyFavorites ? 'All' : 'Favorites' }}</button>