<header>
    <h1>Contacts</h1>
</header>
<main>
    <app-contact *ngFor="let contact of contactList;" [contact]="contact">
    </app-contact>

    <app-contact-form (onSubmit)="createContact($event)"></app-contact-form>
</main>