<h1>Pokedex</h1>
<p *ngIf="selectedPokemonId">
  Geselecteerde pokemon: {{ getPokemonById(selectedPokemonId).name }}
</p>
<div class="grid-container">
  <ng-container *ngFor="let pokemon of pokemons">
    <app-pokemon
      [pokemon]="pokemon"
      [style.backgroundColor]="getBackgroundColor(pokemon.type)"
      [style.border]="getPokemonBorderStyle(pokemon.id)"
      (pokemonClickedEmitter)="handlePokemonOnClick($event)"
    >
    </app-pokemon>
  </ng-container>
</div>
