<div (click)="pokemonClicked()">
    <p>
        <strong>
            {{ pokemon.id }}. {{ pokemon.name }}
        </strong>
    </p>
    <p>
        {{ pokemon.pokemonType }}
    </p>
    <img src="{{ pokemon.icon }}">
</div>