<div>
    <h2>{{contact.name | capitalize }}</h2>
    <ul>
        <li>Email: {{ contact.email }}</li>
        <li>Phone: {{ contact.phone }}</li>
    </ul>
</div>

<input type="checkbox" name="isFavorite" id="isFavorite" [(ngModel)]="contact.isFavorite" (click)="toggleFavorite(contact.id, contact.isFavorite)">
<label for="isFavorite" [class.favorite]="contact.isFavorite">Favorite</label>