<input type="text" placeholder="email adres" name="email" id="email" [(ngModel)]="email">
<textarea id="bericht" name="bericht" [(ngModel)]="bericht" placeholder="Typ je bericht">

</textarea>
<button (click)="verstuur()">Verstuur</button>