<div>
    <h2>{{ contact.name }}</h2>
    <ul>
        <li>Email: {{ contact.email }}</li>
        <li>Phone: {{ contact.phone }}</li>
    </ul>
</div>

<input type="checkbox" name="isFavorite" id="isFavorite" [(ngModel)]="contact.isFavorite">
<label for="isFavorite">Favorite</label><br>