<form>
    <input type="number" [(ngModel)]="number1">
    <input type="number" [(ngModel)]="number2">
    <button type="button" (click)="add()">Optellen</button>
</form>
<div *ngIf="result">{{result}}</div>