<app-customer-form
  (formSubmitted)="onCustomerFormSubmit($event)"
></app-customer-form>
<ng-container *ngFor="let customer of customerService.getCustomers()">
  <app-customer [customer]="customer"></app-customer>
</ng-container>
